@charset "UTF-8";

html{
    font-size: 62.5%;
}
*, *::before, *::after{
    box-sizing: border-box;
}

body{
	background: #092a63;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 100% 100%; 
	text-align: center;
	font-size: 1.4rem;
	font-family: 'Dosis', sans-serif;

}

.header{
	padding: 0 30px 0;
	background: linear-gradient(45deg, #84f0ff 25%, #ff84f4 75%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.site-title{
	margin: 50px 40px;
	font-size: 7.6rem;

}


.grid {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0 30px 0;
	margin: 0;

  }
  .btn-gradient-radius {
	display: inline-block;
	padding: 7px 20px;
	border-radius: 30px;
	text-decoration: none;
	color: #FFF;
	background-image: linear-gradient(45deg, #84f0ff 0%, #ff84f4 100%);
	transition: .4s;
	color: #111111;
  }
  
  .btn-gradient-radius:hover {
	background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
  }

.about{
	color: #111111;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.about:hover{
	background: linear-gradient(-150deg, #E4A972, #9941D8);
	height: 100%;
	width: 100%;
}

footer{
	width: 100%;
	color: #111111;
	text-align: center;
	padding: 30px 0;
	position: absolute;
	bottom: 0;
}

