@charset "UTF-8";

html{
    font-size: 62.5%;
}
*, *::before, *::after{
    box-sizing: border-box;
}

body{
	background: linear-gradient(-135deg, #E4A972, #9941D8);
	background-size: cover;
	text-align: center;
	font-size: 1.4rem;
	font-family: 'Dosis', sans-serif;
}

.header{
	padding: 170px 30px 80px;
}

.site-title{
	margin: 50px 40px;
	font-size: 7.6rem;
	color: #fff;
}

.button{
	display: inline-block;
	width: 150px;
	padding: 25px;
	border-radius: 4px;
	background-color: #93deff;
	color: #000;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 1.2rem;
}

.button:hover{
	opacity: 0.7;
}
.buttons .button{
	margin: 10px;
}

.about{
	padding: 80px 30px;
	background-color: #fff;
	color: #333;
}

